/* font style */
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --primary: hsl(4, 100%, 67%);
  --secondary-slate-grey: hsl(234, 29%, 20%);
  --secondary-charcoal-grey: hsl(235, 18%, 26%);
  --neutrals-white: hsl(0, 0%, 100%);
  --neutrals-grey: hsl(231, 7%, 60%);
  --font-family-primary: "Roboto";
}

/* Base Style */
body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: normal;
  background-color: white;
}

main {
  display: flex;
  flex-direction: column-reverse;
}

.main {
  height: 26rem;
  background-color: var(--neutrals-white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
  color: var(--secondary-slate-grey);
}
.header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.functions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  left: 2rem;
  white-space: pre-wrap;
}
.functions p::before {
  content: url(../assets/images/icon-list.svg);
  position: absolute;
  left: -2rem;
  margin-top: -0.1rem;
  transform: scale(90%);
}

.photo {
  height: 15rem;
  margin-bottom: 2rem;
}
.photo .img {
  height: 100%;
  background: url("../assets/images/illustration-sign-up-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 1rem 1rem;
}
.mail span {
  display: block;
  margin-bottom: 0.3rem;
}
.submitMail {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}
.submitMail .mailBox {
  height: 3rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--neutrals-grey);
}

.submitMail .notifError {
  font-size: 80%;
  position: absolute;
  right: 0;
  top: -1.4rem;
  color: var(--primary);
  display: none;
}

.submitMail .mailBtn {
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--secondary-slate-grey);
  color: var(--neutrals-white);
  font-family: var(--font-family-primary);
}
.submitMail .mailBtn:active {
  background: linear-gradient(to left, hsl(4, 100%, 67%), hsl(346, 97%, 65%));
}

/* Succsess Box */
.succsess {
  display: none;
  justify-content: space-around;
  background-color: var(--neutrals-white);
  border-radius: 2rem;
}
.messageBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  color: var(--secondary-slate-grey);
}

.messageBox .iconList {
  width: 3.5rem;
  height: 3.5rem;
  background: url("../assets/images/icon-list.svg") no-repeat;
  background-size: cover;
}
.messageBox h1 {
  font-size: 2.5rem;
}

.messageBox p {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 1rem 0;
  line-height: 1.8;
}

.messageBox p span {
  font-weight: bold;
}

.messageBox .successBtn {
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 10rem;
  background-color: var(--secondary-slate-grey);
  color: var(--neutrals-white);
  font-family: var(--font-family-primary);
  outline: none;
  cursor: pointer;
}

.messageBox .successBtn:active {
  background: linear-gradient(to left, hsl(4, 100%, 67%), hsl(346, 97%, 65%));
}

/* Javascript Active Style */
.main.active {
  display: none;
}
.photo.active {
  display: none;
}

.succsess.active {
  display: flex;
}

/*  */

/* Mobile Styles */
@media screen and (min-width: 375px) {
  main {
    flex-direction: column-reverse;
    color: var(--secondary-charcoal-grey);
  }
  .main {
    width: 25rem;
    height: 26rem;
    background-color: var(--neutrals-white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
  }
  .header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .functions {
    width: 18rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    left: 2rem;
    white-space: pre-wrap;
  }
  .functions p::before {
    content: url(../assets/images/icon-list.svg);
    position: absolute;
    left: -2rem;
    margin-top: -0.1rem;
    transform: scale(90%);
  }

  .photo {
    width: 25rem;
    height: 15rem;
    margin-bottom: 2rem;
  }
  .photo .img {
    width: 100%;
    height: 100%;
    background: url("../assets/images/illustration-sign-up-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 1rem 1rem;
  }
  .mail span {
    display: block;
    margin-bottom: 0.3rem;
  }
  .submitMail {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
  }
  .submitMail .mailBox {
    width: 20rem;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--neutrals-grey);
  }

  .submitMail .notifError {
    position: absolute;
    right: 1rem;
    top: -1.4rem;
    color: var(--primary);
    display: none;
  }

  .submitMail .mailBtn {
    width: 20rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--secondary-slate-grey);
    color: var(--neutrals-white);
    font-family: var(--font-family-primary);
  }
  .submitMail .mailBtn:active {
    background: linear-gradient(to left, hsl(4, 100%, 67%), hsl(346, 97%, 65%));
  }

  /* Succsess Box */
  .succsess {
    width: 25rem;

    display: none;
    justify-content: space-around;
    background-color: var(--neutrals-white);
    border-radius: 2rem;
  }
  .messageBox {
    width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  .messageBox .iconList {
    width: 3.5rem;
    height: 3.5rem;
    background: url("../assets/images/icon-list.svg") no-repeat;
    background-size: cover;
  }
  .messageBox h1 {
    font-size: 2.5rem;
  }

  .messageBox p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 1rem 0;
  }

  .messageBox p span {
    font-weight: bold;
  }

  .messageBox .successBtn {
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    margin-top: 10rem;
    background-color: var(--secondary-slate-grey);
    color: var(--neutrals-white);
    font-family: var(--font-family-primary);
    outline: none;
    cursor: pointer;
  }

  .messageBox .successBtn:active {
    background: linear-gradient(to left, hsl(4, 100%, 67%), hsl(346, 97%, 65%));
  }

  /* Javascript Active Style */
  .main.active {
    display: none;
  }
  .photo.active {
    display: none;
  }

  .succsess.active {
    display: flex;
  }

  /*  */
}

/* Desktop Styles */
@media screen and (min-width: 1440px) {
  body {
    background-color: hsl(235, 18%, 26%);
  }
  main {
    flex-direction: row;
  }
  .main {
    width: 25rem;
    height: 31rem;
    background-color: var(--neutrals-white);
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.9rem;
    font-size: 0.9rem;
    color: var(--secondary-slate-grey);
  }
  .header {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .header h1 {
    font-size: 3.1rem;
  }

  .functions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.9rem;
    position: relative;
    left: 0.5rem;
  }

  .functions p::before {
    content: url(../assets/images/icon-list.svg);
    position: absolute;
    left: -1.7rem;
    margin-top: -0.2rem;
    transform: scale(90%);
  }

  .mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1rem;
  }
  .mail span {
    font-size: 0.6rem;
    margin-bottom: 0.2rem;
    font-weight: bold;
  }

  .submitMail {
    position: relative;
  }

  .submitMail .mailBox {
    width: 20rem;
    height: 3rem;
    display: flex;
    border-radius: 0.5rem;
    border: 1px solid var(--secondary-charcoal-grey);
    outline: none;
    padding: 0 1.5rem;
  }

  .submitMail .mailBox:invalid {
    border: 1px solid var(--primary);
    background-color: hsla(4, 100%, 67%, 0.52);
  }

  .submitMail .notifError {
    position: absolute;
    right: 0;
    top: -1rem;
    color: var(--primary);
    display: none;
  }

  .submitMail .mailBtn {
    width: 20rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--secondary-slate-grey);
    color: var(--neutrals-white);
    font-family: var(--font-family-primary);
    outline: none;
    cursor: pointer;
  }

  .submitMail .mailBtn:active {
    background: linear-gradient(to left, hsl(4, 100%, 67%), hsl(346, 97%, 65%));
  }

  .photo {
    width: 22rem;
    height: 31rem;
    background-color: var(--neutrals-white);
    border-radius: 0 20px 20px 0;
  }
  .photo .img {
    width: 100%;
    height: 100%;
    transform: scale(90%);
    background: url("../assets/images/illustration-sign-up-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
  }

  /* Succsess Box */
  .succsess {
    width: 25rem;
    height: 27rem;
    display: none;
    justify-content: center;
    background-color: var(--neutrals-white);
    border-radius: 2rem;
  }
  .messageBox {
    width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .messageBox .iconList {
    width: 3.5rem;
    height: 3.5rem;
    background: url("../assets/images/icon-list.svg") no-repeat;
    background-size: cover;
  }
  .messageBox h1 {
    font-size: 2.5rem;
  }

  .messageBox p {

    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 1rem 0;
    line-height: 1.5;
  }

  .messageBox p span {
    font-weight: bold;
  }

  .messageBox .successBtn {
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    margin-top: 0;
    background-color: var(--secondary-slate-grey);
    color: var(--neutrals-white);
    font-family: var(--font-family-primary);
    outline: none;
    cursor: pointer;
  }

  .messageBox .successBtn:active {
    background: linear-gradient(to left, hsl(4, 100%, 67%), hsl(346, 97%, 65%));
  }

  /* Javascript Active Style */
  .main.active {
    display: none;
  }
  .photo.active {
    display: none;
  }

  .succsess.active {
    display: flex;
  }

  /*  */
}
